@using Kendo.Mvc.UI;

<div class="container-fluid">
    <div class="row container-fluid">
        <div class="col">
            <h2 class="navbar-brand">Server Content</h2>

            @await Html.PartialAsync("TreeView")
        </div>
        <div class="col">
            @await Html.PartialAsync("Upload")
        </div>
    </div>
</div>
